@model SistemaContable.Models.VENTA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VENTA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TIPO_DOCU_VENTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_DOCU_VENTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_PAGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_PAGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONCEPTO_DE_VENTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONCEPTO_DE_VENTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUBTOTAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUBTOTAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCUENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCUENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GRAVADAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GRAVADAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IVA_PERSIVIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IVA_PERSIVIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IVA_RETENIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IVA_RETENIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VENTAS_EXENTAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VENTAS_EXENTAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATALOGO_DE_PRODUCTO.DESCRIPCION_PRODUCTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATALOGO_DE_PRODUCTO.DESCRIPCION_PRODUCTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENTE.DUI_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTE.DUI_CLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KARDEX.NUMKARDEX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KARDEX.NUMKARDEX)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CORRELATIVO_DOC }) |
    @Html.ActionLink("Back to List", "Index")
</p>
