@model SistemaContable.Models.CHEQUE

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CHEQUE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONCEPTO_CHEQUE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONCEPTO_CHEQUE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANULADO_CHEQUE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANULADO_CHEQUE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LINEA_DE_PLANILLA.ID_LINEA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LINEA_DE_PLANILLA.ID_LINEA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROVEEDOR.NOM_PROVEEDOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVEEDOR.NOM_PROVEEDOR)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
