@model IEnumerable<SistemaContable.Models.PRODUCTO_TERMINADO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION_DEL_PRODUCTO_TERMINADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXISTENCIA_PRODUCTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COSTO_INDIRECTO.ID_COSTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COTOS_DE_MATERIAL.ID_COSMATERIAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KARDEX.NUMKARDEX)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION_DEL_PRODUCTO_TERMINADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXISTENCIA_PRODUCTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COSTO_INDIRECTO.ID_COSTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COTOS_DE_MATERIAL.ID_COSMATERIAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KARDEX.NUMKARDEX)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CORRELATIVO_PRODUCTO }) |
            @Html.ActionLink("Details", "Details", new { id=item.CORRELATIVO_PRODUCTO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CORRELATIVO_PRODUCTO })
        </td>
    </tr>
}

</table>
